@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.great-show {
    display: flex;
    background-color: black;
    margin: 70px;
    width: 90%;
    height: 400px;
    padding: 10px 15px;
    border-radius: 20px;
}

.text-color {
    color: white;
}


.link-button {
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    color: white;
    font-weight: 200;
    border-radius: 5px;
}

.middle-group {
    display: flex;
}

.upcoming-match {
    display: center;
    background-color: black;
    width: 180px;
    height: 260px;
    border-radius: 10px;

}

.upcoming-group {
    display: flex;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 100;
    width: 100px;
}

.blog {
    display: flex;
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 100;
    width: 100px;
}

.goal {
    background-color: black;
    padding: 0 600px;
}

.goal-color {
    color: whitesmoke;
}

.contact-display {
    text-align: center;
    color: rgba(245, 245, 245, 0.712);
    font-size: 9px;
}

.live-transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.transfer {
    background-color: wheat;
    color: black;
    text-decoration: none;
    padding: 0px 15px;
    border-radius: 5px;
    font-weight: 50;
    border: thistle;
}

.over-transfer {
    display: flex;
}

.time {}