@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.great-show {
    display: flex;
    background-color: black;
    margin: 70px;
    width: 90%;
    height: 400px;
    padding: 20px 10px;
}

.text-color {
    color: white;
}


.link-button {
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    color: white;
    font-weight: 200;
    border-radius: 5px;
}

.upcoming-match {
    background-color: black;
    width: 200px;
    height: 200px;

}

.upcoming-group {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 100;



}

.blog {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 100;


}

.goal {
    background-color: black;
    padding: 0 600px;
}

.goal-color {
    color: whitesmoke;
}

.contact-display {
    text-align: center;
    color: rgba(245, 245, 245, 0.712);
    font-size: 9px;
}